/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 30px;
}
footer {
    padding: 30px 0;
}

.navbar-button {
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #878787 !important;
    border-radius: 4px;
}

.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;

    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.modal-ios {
    position: absolute;
    overflow: visible
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -70%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -70%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 75%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 75%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 70%; /* 6 columns */
    }
}